langchain
langchain-community
sentence-transformers
faiss-cpu
pymupdf
streamlit
cohere
llama_index
pypdf
python-dotenv
langchain-groq
langchain-huggingface
langchain-text-splitters
transformers
ragas
pandas
rank-bm25
langchain-cohere

